<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="${FBSTRING_PluginName}" Language="1033" Version="${FBSTRING_PLUGIN_VERSION}" Manufacturer="${FBSTRING_CompanyName}" UpgradeCode="{cfda9087-fb0c-57e2-8f17-9ea4d996e49f}">
        <Package InstallerVersion="200" Compressed="yes" Description="Installer for the ${PLUGIN_NAME} plugin" InstallScope="perUser" />
        <Upgrade Id="{cfda9087-fb0c-57e2-8f17-9ea4d996e49f}">
            <UpgradeVersion
                Property="OLD_VERSION_FOUND"
                Minimum="0.0.1" IncludeMinimum="yes"
                Maximum="${FBSTRING_PLUGIN_VERSION}" IncludeMaximum="yes"
                OnlyDetect="no" IgnoreRemoveFailure="yes"
                MigrateFeatures="yes" />
        </Upgrade>
		<Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />
        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallInitialize" />
            <InstallExecute After="RemoveExistingProducts" />
        </InstallExecuteSequence>
        <Media Id="1" Cabinet="${PLUGIN_NAME}.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="${FB_WIX_INSTALL_LOCATION}">
                <Directory Id="CompanyDir" Name="${COMPANY_NAME}">
                    <Component Id="CompanyDirComp" Guid="*">
                        <RemoveFolder Id="RemoveCompanyDir" On="uninstall" />
                        <RegistryValue
                            Root="HKCU"
                            Key="SOFTWARE\${COMPANY_NAME}"
                            Name="Uninstall"
                            Type="string"
                            Value="${FBSTRING_PLUGIN_VERSION}"
                            KeyPath="yes" />
                    </Component>
                    <Directory Id="PluginNameDir" Name="${PLUGIN_NAME}">
                        <Component Id="PluginNameDirComp" Guid="*">
                            <RemoveFolder Id="RemovePluginNameDir" On="uninstall" />
                            <RegistryValue
                                Root="HKCU"
                                Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}"
                                Name="Uninstall"
                                Type="string"
                                Value="${FBSTRING_PLUGIN_VERSION}"
                                KeyPath="yes" />
                        </Component>
                        <Directory Id="INSTALLDIR" Name="${FBSTRING_PLUGIN_VERSION}">
                            <Component Id="InstallDirComp" Guid="*">
                                <RemoveFolder Id="RemoveInstallDir" On="uninstall" />
                                <RegistryValue
                                    Root="HKCU"
                                    Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}\${FBSTRING_PLUGIN_VERSION}"
                                    Name="Uninstall"
                                    Type="string"
                                    Value="${FBSTRING_PLUGIN_VERSION}"
                                    KeyPath="yes" />
                            </Component>

                          <!-- Install local H3D runtime -->
                          <Component Id="H3DAPI" Guid="a22bbd38-eb58-463b-9008-94805f3f7730">
                            <File Id="H3DAPI_vc10" Source="$(env.H3D_ROOT)\..\bin\H3DAPI_vc10.dll" />
                            <File Id="HAPI_vc10" Source="$(env.H3D_ROOT)\..\bin\HAPI_vc10.dll" />
                            <File Id="H3DUtil_vc10" Source="$(env.H3D_ROOT)\..\bin\H3DUtil_vc10.dll" />
                            
                            <File Id="alut" Source="$(env.H3D_ROOT)\..\external\bin32\alut.dll" />
                            <File Id="audiofile" Source="$(env.H3D_ROOT)\..\external\bin32\audiofile.dll" />
                            <File Id="cg" Source="$(env.H3D_ROOT)\..\external\bin32\cg.dll" />
                            <File Id="cgGL" Source="$(env.H3D_ROOT)\..\external\bin32\cgGL.dll" />
                            <File Id="freeglut" Source="$(env.H3D_ROOT)\..\external\bin32\freeglut.dll" />
                            <File Id="FreeImage" Source="$(env.H3D_ROOT)\..\external\bin32\FreeImage.dll" />
                            <File Id="ftgl" Source="$(env.H3D_ROOT)\..\external\bin32\ftgl.dll" />
                            <File Id="glew32" Source="$(env.H3D_ROOT)\..\external\bin32\glew32.dll" />
                            <File Id="js32" Source="$(env.H3D_ROOT)\..\external\bin32\js32.dll" />
                            <File Id="libcurl" Source="$(env.H3D_ROOT)\..\external\bin32\libcurl.dll" />
                            <File Id="libogg" Source="$(env.H3D_ROOT)\..\external\bin32\libogg.dll" />
                            <File Id="libvorbis" Source="$(env.H3D_ROOT)\..\external\bin32\libvorbis.dll" />
                            <File Id="libvorbisfile" Source="$(env.H3D_ROOT)\..\external\bin32\libvorbisfile.dll" />
                            <File Id="OpenAL32" Source="$(env.H3D_ROOT)\..\external\bin32\OpenAL32.dll" />
                            <File Id="pthreadVC2" Source="$(env.H3D_ROOT)\..\external\bin32\pthreadVC2.dll" />
                            <File Id="teem" Source="$(env.H3D_ROOT)\..\external\bin32\teem.dll" />
                            <File Id="wrap_oal" Source="$(env.H3D_ROOT)\..\external\bin32\wrap_oal.dll" />
                            <File Id="xerces" Source="$(env.H3D_ROOT)\..\external\bin32\xerces-c_3_1.dll" />
                            <File Id="zlib1" Source="$(env.H3D_ROOT)\..\external\bin32\zlib1.dll" />
                            
                            <!-- TODO: Python? -->
                            
                            <RegistryValue Root="HKCU" Key="SOFTWARE\${COMPANY_NAME}\${PLUGIN_NAME}\${FBSTRING_PLUGIN_VERSION}\H3DAPIBundle" Name="Uninstall" Type="string" Value="1.0.0" KeyPath="yes" />
                          </Component>
                          
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="MainPluginFeature" Title="${FBSTRING_ProductName}" Level="1">
            <ComponentRef Id="InstallDirComp"/>
            <ComponentRef Id="PluginNameDirComp"/>
            <ComponentRef Id="CompanyDirComp"/>
            <ComponentRef Id="H3DAPI"/>
            <ComponentGroupRef Id="PluginDLLGroup"/>
        </Feature>
    </Product>
</Wix>
